DJANGO_SETTINGS_MODULE=myproject.settings.production
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=72.61.5.123

DB_NAME=myproject_db
DB_USER=myproject_user
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=myproject_db
POSTGRES_DB=myproject_user
POSTGRES_PASSWORD=

GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000

REDIS_URL=redis://redis:6379/1

SENTRY_DSN=
DOMAIN=
CERTBOT_EMAIL=
